/* For all screen sizes*/
html, body
{
	font-family: "Lato", sans-serif;
	background-color: black;
}
#content
{
	background-color: white;
}
section
{
	margin-bottom: 50px;
	height: 500px;
	text-align: center;
	background-color: #272727;
}
.c-image
{
	max-height: 500px;
}
h1
{
	color: white;
	text-align: center;
}
label
{
	color: white;
}
.btn-submit
{
	background-color: #FFD700; /* Gold */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#logo
{
	height: 60px;
}
.our-mission
{
  max-width : 2000px;
  margin-top:46px;
}
#search, form h5
{
	color: #CFB87C;
}
#login:hover
{
	color: #CFB87C;
}
#addButton
{
	float: right;
}
#user_status
{
	color: white;
	font-size: large;
}
#signout
{
	visibility: hidden;
}
/* For desktop and laptop screen sizes */
@media only screen and (min-width: 600px)
{
	header, footer
	{
		background-color: black;
		padding-top: 20px;
		padding-bottom: 20px;
		display: flex;
		justify-content: space-between;
	}
	#site-footer
	{
		height: 100px;
		background: black;
	}
	.cuImage
	{
		height: 40px;
		width: auto;
		margin-left: 5%;
		margin-right: 5%;
	}
	#cuImage-1
	{
		flex: 50%;
	}
	#cuImage-2
	{
		flex: 50%;
		text-align: right;
	}
	#login
	{
		margin-right: 15px;
		font-size: x-small;
		color: white;
		cursor: pointer;
		white-space: nowrap ;
		text-align: center;
	}
	#user
	{
		background-image: url("assets/user.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		height: 20px;
		width: 30px;
	}
}
/* For table screen sizes only*/
@media only screen and (max-width: 991px)
{
	#logo
	{
		margin-top: 15px;
	}
	.cuImage
	{
		height: 40px;
		width: auto;
		margin-left: 5%;
		margin-right: 5%;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

/* For mobile and tablet screen sizes */
@media only screen and (max-width: 600px)
{
	header, footer
	{
		background-color: black;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.cuImage
	{
		height: 40px;
		width: auto;
		margin-left: 5%;
		margin-right: 5%;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#login
	{
		margin-left: 5%;
		font-size: small;
		color: white;
		cursor: pointer;
		text-align: left;
	}
	#searchText
	{
		width: 50%;
		margin-right: 10px;
	}
}
.divider{
    width:150px;
}
